<mat-card>
  <mat-card-header>
    <h2>User Registration</h2>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="SignupForm" (ngSubmit)="onSubmit()">
      <div fxLayout.gt-sm="row" fxLayout="column" fxlayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label>user name</mat-label>
          <input matInput type="text" formControlName="id" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" autocomplete="off">
        </mat-form-field>
      </div>
      <div fxLayout.gt-sm="row" fxLayout="column" fxlayoutAlign="center center" fxLayoutGap="10px">

        <mat-form-field>
          <mat-label>Phone </mat-label>
          <input matInput type="text" formControlName="phone" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" autocomplete="off">
        </mat-form-field>
      </div>
      <div fxLayout.gt-sm="row" fxLayout="column" fxlayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label>password </mat-label>
          <input matInput type="password" #pwInput  formControlName="password">
          <mat-hint align="end">{{pwInput.value.length}}/15</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Choose a Birth date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dob" [max]="maxDate" required>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <mat-radio-group aria-label="Select Gender" formControlName="gender" color="primary" fxLayout.gt-xs="row" fxLayout="column" required>
        <label for="gender" class="genderHeading">Select Gender:</label>
        <mat-radio-button value="male">Male </mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
        <mat-radio-button value="others">Others</mat-radio-button>

      </mat-radio-group>
<div>
  <mat-checkbox formControlName="agree" required color="primary">
    Agree To terms and Conditions
  </mat-checkbox>
</div>
      <div>
        <!-- <button mat-raised-button color="primary" type="submit" [disabled]="SignupForm.invalid">Submit</button> -->
        <button mat-raised-button color="primary" type="submit" >Submit</button>

        <button mat-raised-button color="warn" routerLink="/login">Login</button>

      </div>

    </form>
  </mat-card-content>
</mat-card>