<div class="heading text-center" >
    <h1>Welcome to Fitness Tracker</h1>
    <a routerLink="/signup" class="signuptag ">Register</a>
</div>

<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="20px" fxLayoutAlign="center center">
    <section>
        <h1>Activity</h1>
        <p>Stay active and enjoy better health and more fun</p>
    </section>
    <section>
        <div>
            <h1>Community</h1>
            <p>Get to know other peope who share their passion</p>
        </div>
    </section>
    <section>
        <h1>Challanges</h1>
        <p>Never stop!Dive into new challanges everyday</p>
    </section>
</div>
